<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.developerandroidx">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 开启前台服务权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 华为桌面角标权限 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE " /> <!-- 相机权限，需要动态申请 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity android:name=".ui.android.rxJava.RxJavaSampleActivity"></activity>
        <activity android:name=".ui.android.httpRequest.historyBlog.HistoryBlogActivity" />
        <activity
            android:name=".ui.android.httpRequest.HttpRequestActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.camera.EnlargeToActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.developerandroidx"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.android.camera.CameraActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.touchEvent.TouchEventActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.fragment.FragmentActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.java.dataStructure.DataStructureActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <receiver
            android:name=".ui.android.broadcastReceiver.AppBroadcastReceiver"
            android:enabled="true"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- 必须在activity动态申请此广播，清单文件申请无效 -->
            <!-- <action android:name="android.intent.action.SCREEN_ON" /> -->
            <!-- 刚开始以为通知栏发送的广播需要在这里注册，后来发现是动态注册，故注释掉<intent-filter>信息 -->
            <!-- <action android:name="com.example.developerandroidx.HANDLE_NOTIFICATION" /> -->
            <!-- <action android:name="com.example.developerandroidx.INPUT_NOTIFICATION" /> -->
            <!-- <action android:name="com.example.developerandroidx.STOP_FOREGROUND" /> -->
            <!-- </intent-filter> -->
        </receiver>

        <activity
            android:name=".ui.android.broadcastReceiver.BroadcastReceiverActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- 由于从通知启动的“特殊 Activity”不需要返回堆栈，因此您可以通过调用 getActivity() 来创建 PendingIntent，但您还应确保在清单中定义了相应的任务选项。 -->
        <!-- 在清单中，将以下属性添加到 <activity> 元素中。 -->
        <!-- android:taskAffinity="" -->
        <!-- 与您将在代码中使用的 FLAG_ACTIVITY_NEW_TASK 标记结合使用，将此属性设置为空可以确保这类 Activity 不会进入应用的默认任务。具有应用默认相似性的任何现有任务都不会受到影响。 -->
        <!-- android:excludeFromRecents="true" -->
        <!-- 用于从“最近”中排除新任务，以免用户意外返回它。 -->
        <activity
            android:name=".ui.android.notification.NotificationActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".ui.android.service.service.TestIntentService"
            android:exported="false" />
        <service
            android:name=".ui.android.service.service.TestService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.android.service.ServiceActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.java.arithmetic.ArithmeticActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.widget.webView.TechnologyWebviewActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.animation.AnimationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.widget.navigationView.NavigationViewActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.activity.transitionAnimation.TransitionToActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.activity.transitionAnimation.TransitionAnimationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.activity.activityforResult.ForResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogActivityTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.activity.actionIntent.ActionIntentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogActivityTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="com.example.developerandroidx.ActionIntentActivity" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="example.com"
                    android:port="1080"
                    android:scheme="example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.android.activity.launchMode.StandardActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/DialogActivityTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.activity.launchMode.SingleTaskActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/DialogActivityTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.activity.launchMode.SingleTopActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/DialogActivityTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.activity.launchMode.SingleInstanceActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/DialogActivityTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.dialog.KongZueDialogActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.architecture.ArchitectureIndexActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.dialog.DialogIndexActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.activity.lifeCycle.DialogTestctivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogActivityTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.java.operator.OperatorActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.widget.codeView.CodeViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CodeViewAppTheme"
            tools:ignore="LockedOrientationActivity">

            <!-- 问题描述:切换屏幕为横屏时刘海区域会出现黑边 -->
            <!-- 解决方案:添加以下meta属性,并在theme里面设置windowBackground为界面颜色即可,适用于华为手机,其他品牌未测试 -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name=".ui.widget.webView.WebViewActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.widget.actionBar.ActionBarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.android.activity.ActivityAnalysisActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <!-- 问题描述:切换屏幕为横屏时刘海区域会出现黑边 -->
            <!-- 解决方案:添加以下meta属性,并在theme里面设置windowBackground为界面颜色即可,适用于华为手机,其他品牌未测试 -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>